.header {
    height: 64px;
    display: flex;
    align-items: center;
    background-color: #099;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .header-logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 10px;
    color: #0f0c0cd3;
  }
  .header-search {
    display: flex;
    flex: 1;
    align-items: center;
  }
  .header-searchInput {
    padding: 5px;
    height: 30px;
    margin: 80px;
    width: 100%;
    border-radius: 5px;
    border: #f10e0ed3;
  }
  .header-nav{
    display: flex;
    justify-content: space-evenly;
  }
  .header-options{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10px;
    color: #fff;
  }
  .header-optionsOne{
    font-size: 10px;
  }
  .header-optionsTwo{
    font-size: 13px;
    font-weight: 800;
  }